body{
	margin: 0px;
	background-color: #FBAB7E;
	background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
	font-family: 'Muli', sans-serif;

}

.header{ 
	width: 150;
	height: 150;
	display: flex;
	justify-content: space-between;
}

.header__img{
	width: 150px;
	height: 150px;	
	margin-top: 30px;
	margin-left: 100px;
}

.header__contenido{
	text-align: center;
	font-family: Comic Sans MS;
	margin-top: 30px;
	margin-right: 100px;
}

.main{
	margin-top: 40px;
	height: 50px;
	margin-left: 100px;
	margin-right: 100px;
	border: 2px solid white;
	border-radius: 30px;
	padding: 30px 38px 1px;
}

.input{
	border: 2px solid white;
	border-radius: 25px;
	color: black;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
}

.selected{
	border: 2px solid white;
	border-radius: 25px;
	width: 200px;
}

.cargarOpciones{
	margin-top: 30px;
	border: 2px solid white;
	border-radius: 25px;
	width: 140px;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	margin-left: 900px;
	margin-bottom: 200px;
}

.main2{
	margin-top: 10px;
	margin-left: 100px;
	margin-right: 100px;
	height: 200px;
	border: 2px solid white;
	border-radius: 30px;
	padding: 30px 38px 1px;
}

.check{
	display: inline-block;
	line-height: 25px;
	margin: 0 5px;
}

.labeel{

}

.tabla {
  border-collapse: collapse;
  margin: 25px 0 0 500px;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla thead tr {
  background-color: #ff9000;
  color: black;
  text-align: left;
  font-weight: bold;
}

.tabla th,
.tabla td {
  padding: 12px 15px;
}

.tabla tbody tr {
  border-bottom: 1px solid white;
}

.tabla tbody tr:nth-of-type(even) {
  background-color: white;
}

.tabla tbody tr:last-of-type {
  border-bottom: 2px solid #ff9000;
}

.tabla tbody tr.fila-color {
  font-weight: bold;
  color: black;
}

.calcularFactura{
	margin-top: 30px;
	border: 2px solid white;
	border-radius: 25px;
	width: 140px;
	font-family: 'Muli', sans-serif;
	font-size: 16px;
	margin-left: 900px;
	margin-bottom: 200px;
}

.arreglar1{
  width: 150px;
  height: 50px;
  position: relative;
  top: -140px;  /*ajustar los valores para mover la imagen */
  right: -410px;
/*  margin: 30%;
  border:2px solid #fff;
  display: block*/;
}

.arreglar2{
  width: 150px;
  height: 50px;
  position: relative;
  top: -295px;  /*ajustar los valores para mover la imagen */
  right: -640px;
/*  margin: 30%;
  border:2px solid #fff;
  display: block*/;
}